@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: hsl(var(--b2)); /* base-200 */
  color: hsl(var(--bc));            /* base-content */
}

@layer components {
  .auth-card {
    @apply rounded-2xl bg-blue-50/50 p-8 shadow-lg dark:bg-blue-900/20;
  }
}

